@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #1f041d ;
}

header{
	background: white;
	padding: 20px;

}


header > h1{
	color: #21030b;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

.score-board{
	margin : 20px auto;
	border: 3px solid white;
	border-radius: 4px;
	text-align: center;
	width:  200px;
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	padding: 15px 20px;
	position: relative;
}

.badge{
	background: #a97acc;
	color: white;
	font-size: 14px;
	padding: 2px 10px;
	font-family: 'Roboto Mono', monospace;
}

#user-label{
	position: absolute;
	top: 30px;
	left: -25px;
}

#system-label{
	position: absolute;
	top: 30px;
	right: -25px;
}

.result{
	font-size: 40px;
	color: white;
}

.result>p{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
}

.choices{
	margin-top: 50px;
	margin-bottom: 15px;
	text-align: center;
}

.choice{
	border: 4px solid #a97acc;
	border-radius: 30%;
	margin: 0 20px;
	display: inline-block;
	padding: 10px;
	transition: all 0.3s ease;
}

.choice:hover{
	cursor: pointer;
	background-color: #380b32;

}

#action-message{
	text-align: center;
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-weight: bolder;
	font-size: 35px;
}

.green-glow{
	border: 4px solid #05993b;
	box-shadow: 0 0 10px #0df00a;
}

.red-glow{
	border: 4px solid #c72404;
	box-shadow: 0 0 10px #f7160a;

}

.grey-glow{
	border: 4px solid #3d3d3d;
	box-shadow: 0 0 10px #4d4b4b;

}